button.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 66%;
  padding: 15px;
}
button.sticky.alt-mode {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 66%;
  padding: 15px;
  border: none;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 33%;
  padding: 15px;
}
button {
  background-color: #17cdc4;
  border: 1px solid #17cdc4;
  border-radius: 1px;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
	background-color: white;
	color: #018a9a;
}
button.alt-mode {
	background-color: #414b5a;
	border: 1px solid #414b5a;
	color: white;
}
button.alt-mode:hover {
	background-color: white;
	color: #414b5a;
}
.interact {
	background-color: rgba(0,0,0,0);
	border: none;
	color: #17cdc4;
	position: relative;
	display: inline-block;
	cursor: pointer;
	font-size: 22px;
	padding: 1px 1px;
}
.interact:hover {
	background-color: rgba(0,0,0,0.0);
	color: white;
}
.interact.alt-mode {
	background-color: rgba(0,0,0,0);
	color: #17cdc4;
}
.interact.alt-mode:hover {
	background-color: rgba(0,0,0,0);
	color: #414b5a;
}
.sbut {
	background-color: #efefef;
	color: #17cdc4;
	padding: 1px 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}
.sbut:hover {
	background-color: #414b5a;
	color: #efefef;
}
#sbut.alt-mode {
	background-color: #414b5a;
	color: #efefef;
	border: 1px solid #17cdc4;
}
#sbut.alt-mode:hover {
	background-color: #efefef;
	color: #414b5a;
	border: 1px solid #17cdc4;
}
.sbut2 {
	padding: 1px 1px;
	font-size: 22px;
	color: #efefef;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	float: right;
	margin-top: 3px;
	margin-right: 5px;
	background-color: #17cdc4;
	display: inline;
}
.sbut2:hover {
	color: #414b5a;
	background-color: #17cdc4;
}
#sbut2.alt-mode {
	background-color: #414b5a;
	color: white;
}
#sbut2.alt-mode:hover {
	background-color: rgba(0,0,0,0);
	color: #17cdc4;
}
abbr {
	text-decoration: none !important;
	border-bottom: 0px !important;
	display: static;
	font-variant: none;
}
abbr:hover {
	color: #414b5a;
}
hr {
	border: 1px solid #d1cdc6;
	opacity: 0.5;
}
hr.alt-mode {
	border: 1px solid red;
	opacity: 1;
}
#searchbox {
	border: none;
}
#searchbutton.alt-mode{
	background-color: #414b5a;
	color: #efefef;
	border: 1px solid #17cdc4;
}
#searchbutton.alt-mode:hover {
	background-color: #efefef;
	color: #414b5a;
	border: 1px solid #17cdc4;
}
#clickers {
	background-color: #17cdc4;
	display: inline-block;
	width: 100%;
}
#clickers.alt-mode {
	background-color: #414b5a;
}
body {
	background-color: #414b5a;
	color: #efefef;
	font-family: verdana;
}
body.alt-mode {
  background-color: #fefefe;
  color: black;
}
#display {
	background-color: #efefef;
	padding-left: 25px;
}
#display.alt-mode {
	background-color: lightgrey;
	padding-left: 25px;
}
h1 {
	color: white;
}
#numbers {
	color: #414b5a;
	font-weight: bold;
}
#linelength {
	color: #efefef;
	font-weight: bold;
}
#linelength.alt-mode {
	color: #17cdc4;
	font-weight: bold;
}
#counted {
	color: #17cdc4;
	font-weight: bold;
}
#selected {
	color: #17cdc4;
	font-weight: bold;
}
#lastclicked {
	color: #17cdc4;
	font-weight: bold;
}
#myProgress {
  width: 140px;
  background-color: #6e767f;
}
#myProgress.alt-mode {
  width: 140px;
  background-color: #efefef;
}
#myBar {
  width: 0px;
  height: 10px;
  background-color: #17cdc4;
  font-size: 8px;
  font-weight: bold;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 10px; /* To center it vertically */
  color: #efefef;
}
#myBar.alt-mode {
  width: 0px;
  height: 10px;
  background-color: #6e767f;
  font-size: 8px;
  font-weight: bold;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 10px; /* To center it vertically */
  color: #17cdc4;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -130px;
  left: 110%; 
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.menu {
	background-color: #efefef;
	color: #414b5a;
}
#gamepic {
  color: #0cff15; 
  background-image: url('loader.gif');
  -webkit-background-image: url('loader.gif');
  background-repeat: no-repeat;
  background-color: black;
  background-size: 200px 104px;
  border: 1px solid #efefef;
}
.chip {
  display: inline-block;
  padding: 0 20px;
  height: 50px;
  font-size: 12px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #efefef;
  color: #6e767f;
}
.chip img {
  float: left;
  margin: -5px 10px 0 -25px;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 2px solid black;
}
iframe {
	position: absolute;
	top: 25px;
	right: 5px;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #17cdc4;
  color: #efefef;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 75%;
  top: 30px;
  font-size: 17px;
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}
@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}